html {
  background-color: #fff;
  margin: 5em;
}

html.blog h3, span {
  font-family: 'Titillium Web', sans-serif;
}

html.blog a {
  color: #000;
}


html.blog ul > li {
  display: block;
  font-size: 16px;
}


@media (max-width: 767px) { 
  html {
    background-color: #fff;
    margin: 0;
  }
}

/* Global styles */

p {
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px;
  text-align: justify;
}

a {
  font-size: 120%;
}

hr {
  height: 1px !important;
  background-color: #333 !important;

}

div > .section-heading {
  font-family: 'Open Sans', sans-serif;
}

span.strike {
  text-decoration: line-through;
}

h1.code-head {
  font-size: 35px;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 767px) {
  h1.code-head {
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    margin-left: 1em;
  }
}

/* Header section */

.img-responsive{
  margin: 0 auto;
}

.header-banner {
  padding: 7em;
  margin: 2em;
  background: #f4f3f3;
}

p.banner-text {
  font-family: 'Roboto Mono', monospace !important;
}



h1.header-heading {
  font-family: 'Space Mono', monospace;
  font-size: 48px;
}

h3.header-subheading {
  font-family: "Roboto Mono", monospace;
}

/* Nav section */

section#nav a  {
  font-size: 20px;
  color: #333;
}


section#nav ul li {
  display: inline;
  margin-left: 2em;
}

section#nav ul li:nth-child(1) {
  margin-left: 0;

}

@media (max-width: 767px) { 
  
  section#nav ul li {
    display: inline-block;
    margin-left: 0.5em;
  }
  
  section#nav ul li:nth-child(1) {
    display: inline-block;
    margin-left: 0.5em;

  }
}

/* Introduction */

section#introduction, footer {
  margin: 0 10em 0 10em;
}

@media (max-width: 767px) { 
  
  section#introduction, footer {
    margin: 0;
  }


}

/* About Me */

section#aboutme p {
  font-family: 'Ubuntu Mono', monospace !important;
}

/* Projects */


section#projects a {
  color: #333;
}

section#projects br {
  margin: 0.5em;
}


section#blog-content {
  margin-left: 5em;
  margin-right: 5em;
  padding-bottom: 2em;
}

@media (max-width: 767px) { 
  section#blog-content  {
    margin: 0.4em;
  }
}

div.post-heading {
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 10px;
}

div.post-content  {
  text-align: justify;
  margin-top: 3em;
}

div.post-content > p {
  font-family: 'Roboto Mono', monospace !important;
  font-weight: lighter !important;
}

.share-icons > a {
  opacity: 0.7;

}

pre.highlight, code.highlighter-rouge {
  background-color: #333;
  font-size: 16px;
  color: white;
  border: none;
}

/* Footer */

footer {
  margin-top: 5em;
}

footer p.footernote {
  font-size: 10px;
  margin: 0;
}

footer a {
  opacity: 0.5;
  color: black;
}

footer p.footer-text {
  margin-top: 3em;
  font-size: 14px;
  text-align: center;
}


