<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <hr />
          <h3 class="section-heading">wanna <i>n*</i> with me ?</h3>
        <hr />
        <p class="footernote">* where n = talk, hangout, and other verbs denoting contact</p>
      </div>
    </div>
      <div class="col-lg-12 text-center">
          <a href="https://github.com/ex0dus-0x">
              <i class="hvr-grow fa fa-github fa-4x"></i>
          </a>
          <a href="mailto:ex0dus@codemuch.tech">
              <i class="hvr-grow fa fa-paper-plane-o fa-4x"></i>
          </a>
          <a href="https://keybase.io/ex0dus/key.asc">
            <i class="hvr-grow fa fa-key fa-4x"></i>
          </a>
          <a href="#">
            <i class="hvr-grow fa fa-file-text-o fa-4x"></i>
          </a>
          
        <p class="footer-text"> Made with ♥. </p>

      </div>
  </div>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  
  <!-- Smooth Scrolling JS -->
  <script src="js/smooth-scroll.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Simple Text Rotator JavaScript ! -->
  <script src="js/jquery.simple-text-rotator.js"></script>
  
  <!-- Custom JS -->
  <script src="js/site.js"></script>
  
  
</footer>