<hr />
<div class="links">
    <a href="http://codemuch.tech/">Home</a>
    <a href="http://codemuch.tech/about.html">whoami</a>
    <a href="http://codemuch.tech/projects.html">Projects</a>
    <a href="http://blog.codemuch.tech/">Blog</a>
    <a href="http://codemuch.tech/notes.html">Notes</a>
    <a href="http://codemuch.tech/resume.pdf">Resume</a>
    <a href="#footer">Contact</a>
</div>


<hr />

<h1 class="headline">{{site.title}}</h1>
<h3 class="subheading">programming | penetration testing | linux</h3>

<hr class="dotted" />