<section id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <li>
            <a class="hvr-pop" href="{{site.baseurl}}/">//home </a>
          </li>
          <li>
            <a class="hvr-pop" href="{{site.baseurl}}/about">//whoami </a>    
          </li>
          <li>
            <a class="hvr-pop" href="{{site.baseurl}}/projects">//projects </a>    
          </li>
          <li>  
            <a class="hvr-pop" href="{{site.baseurl}}/blog">//blog </a>    
          </li>
          <li>
            <a class="hvr-pop" href="{{site.baseurl}}/notes">//notes </a>    
          </li>
          <li>
            <a class="hvr-pop" href="#footer">//contact </a>    
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
