<!DOCTYPE html>
<html class="blog" lang = "en" >

{% include head.html %}

<body id="blog">
    
  {% include nav.html %}
    
  <section id="blog-content">
    {% if page.layout == "blog" %}
    <h1 style="font-family: 'Open Sans', sans-serif" class="header-heading text-center">codemuch blog </h1>
    <h4 style="font-family: 'Open Sans', sans-serif" class="header-subheading text-center">code | pentesting | other fun stuff</h4>
    <br />
    <hr />
    {% endif %}
    
    {{ content }}
  </section>
    
   {% include footer.html%}
</body>

</html>
