---
layout: blog
---

<div id="#top" class="post-heading">
  <h5><a href="{{site.baseurl}}/blog">back</a></h5>
  <h1 class="post-headline">{{page.title}}</h1>
  <h3><span>{{page.date | date: '%B %d, %Y'}} </span> </h3>
  <h4><b> Written By: </b><a href="{{site.baseurl}}/about">{{ page.author }}</a></h4>
  <br />
  <div class="share-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-reddit"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>

  </div>
</div>


<div class="post-content">
  {{ content }}
  <p style="opacity: 0.3;">
    <a href="{{ site.baseurl }}/about ">about the author</a> | 
    <a data-scroll href="#top">back to top</a>
  </p>
</div>

{% if page.comments %}

<div id="disqus_thread"></div>
<script>


var disqus_config = function () {
this.page.url = http://codemuch.tech/{{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ page.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://codemuch-tech.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

{% endif %}


